// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body{
    font-family: 'IM Fell English SC', serif;
    font-size: 17px !important;
}
input{
    padding: 5px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-size:18px !important;
}
.center{
    margin-left:50%; 
    transform: translateX(-50%)
}
.message{
    background-color: rgb(227, 226, 226);
    border: solid 1px rgb(173, 173, 173);
    border-radius: 10px;
    padding: 10px 30px;
    margin: 15px;
}
.flex-end-column{
    display:flex; 
    flex-direction:column; 
    justify-content:flex-end; 
    align-items:center; 
    row-gap: 15px;
    margin: 30px;
}
.align-center{
    display:flex; 
    align-items:center; 
    row-gap: 15px;
}
.flex{
    display:flex;
    flex-direction: row !important;
    column-gap: 50px;
}
.flex-2{
    display:flex;
    flex-direction: row !important;
    column-gap: 10px;
}
.master-image{
    padding: 30px;
    img{
        height:400px;
        object-fit: cover;
    }
}
.flex-end{
    display:flex; 
    justify-content:flex-end;
}
.callendar-blade{
    display: flex;
    width:50%;
    flex-direction: column;
    align-items: center;
   .card-header{
        div{
            text-align: center;
        }
   }
    .callendar-controls{
        display: flex;
        justify-content: center;
        column-gap: 30px;
        h4{
            font-size:22px;
            font-weight: 600;
        }
        span{
            cursor: pointer;
        }
    }
}
.callendar-row{
    .callendar{
        width:50%;
        button{
            height:50px;
            width:50px;
            border:solid 1px rgb(212, 211, 211);
        }
    }
}
.no-hover{
    cursor: not-allowed !important;

}
.callendar-day{
    height:120px;
    width:100px;
    border: solid 1px #DC3545;
    box-shadow: 2px 3px 8px #DC3545;;
}
.dropdown-menu.dropdown-menu-end{
    max-width:200px;
    .dropdown-item{
        white-space: normal;
        border-top: 1px, solid #999
    }
}
.message{
    position:sticky;
    z-index:1;
    top:0px;
    left:0;
    right:0;
}
.cart-open{
    color:black
}
.rating-item{
    display:block;
}
.rating-form{
    display:flex;
    column-gap:10px;
}
.rating-input{
    display:block;
}
.rating-star{
    height:18px;
    width:18px;
    fill:white
}

.rating-star:hover {
    cursor: pointer;
    // fill:yellow;
}
