// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body{
    font-family: 'IM Fell English SC', serif;
    font-size: 17px !important;
}
input{
    padding: 5px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-size:18px !important;
}
.center{
    margin-left:50%; 
    transform: translateX(-50%)
}
.message{
    background-color: rgb(227, 226, 226);
    border: solid 1px rgb(173, 173, 173);
    border-radius: 10px;
    padding: 10px 30px;
    margin: 15px;
}
.flex-end-column{
    display:flex; 
    flex-direction:column; 
    justify-content:flex-end; 
    align-items:center; 
    row-gap: 15px;
    margin: 30px;
}
.align-center{
    display:flex; 
    align-items:center; 
    row-gap: 15px;
}
.flex{
    display:flex;
    flex-direction: row !important;
    column-gap: 50px;
    align-items: center;
}
.flex-2{
    display:flex;
    flex-direction: row !important;
    column-gap: 10px;
}
.conf-ord-grid {
    display:grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 5fr;
    align-items: center;
}
.front-conf-ord-grid{
    display:grid;
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr 1fr;
    align-items: center;
}
.master-image{
    padding: 30px;
    img{
        height:400px;
        object-fit: cover;
    }
}
.flex-end{
    display:flex; 
    justify-content:flex-end;
}
.callendar-blade{
    display: flex;
    width:50%;
    flex-direction: column;
    align-items: center;
   .card-header{
        div{
            text-align: center;
        }
   }
    .callendar-controls{
        display: flex;
        justify-content: center;
        column-gap: 30px;
        h4{
            font-size:22px;
            font-weight: 600;
        }
        span{
            cursor: pointer;
        }
    }
}
.callendar-row{
    .callendar{
        width:50%;
        button{
            height:50px;
            width:50px;
            border:solid 1px rgb(212, 211, 211);
        }
    }
}
.no-hover{
    cursor: not-allowed !important;

}
.callendar-day{
    height:120px;
    width:100px;
    border: solid 1px #DC3545;
    box-shadow: 2px 3px 8px #DC3545;;
}
.dropdown-menu.dropdown-menu-end{
    max-width:200px;
    .dropdown-item{
        white-space: normal;
        border-top: 1px, solid #999
    }
}
.message{
    position:sticky;
    z-index:1;
    top:0px;
    left:0;
    right:0;
}
.cart-open{
    color:black
}
.rating-item{
    display:block;
}
.rating-form{
    display:flex;
    column-gap:10px;
}
.rating-input{
    display:block;
}
.rating-star{
    height:18px;
    width:18px;
    fill:white
}

.rating-star:hover {
    cursor: pointer;
}

.input-danger-focus:focus{
    border: 	rgb(223, 71, 89) solid 1px;
    box-shadow: 0 0 0 0.25rem	rgb(223, 71, 89, 0.25);
}
textarea{
    border: grey solid 1px;
}
textarea:focus-visible  {
    outline: grey solid 2px;
}

.form-check-input:checked{
    background-color: rgb(223, 71, 89);
}
.chevron{
    width:20px;
    height:20px;
    fill:#fff;
}
.chevron.left{
    transform: rotate(180deg);
    fill:rgb(223, 71, 89);
    transition:linear 0.15s;
}
button.back:hover svg.chevron.left{
    fill:#fff;
}
.number-input-padding{
    padding-left: 15px !important;
    padding-right:10px !important;
}
@media(max-width:992px){
    .conf-ord-grid{
        padding:0px;
    }
}
@media(max-width:768px){
    thead.procedures td {
        font-size:0.8em;
    }
    .callendar-blade{
        width:100%;
    }
    .cart-blade *, .order-blade *{
        font-size: 0.8rem;
    }
    .conf-ord-grid{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
        grid-template-columns: 1fr;
        align-items: center;
        padding-left:50px;
        padding-right:50px;
    }
}
@media (max-width: 575.98px) { 
    .callendar-row{
        .callendar{
            button{
                height:40px;
                width:40px;
            }
        }
    }
    td.one-day{
        padding: 0.4rem 0.4rem;
    }
    .sort-filter-search{
        font-size: 0.9rem;
    }
}
